/* 

        FOR THE CONTAINER:

*/

.container {
    background-color: #544c4c;
    background: #cdcdcd;
    border-radius: 50%;
    height: 800px;
    width: 1200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.swipeContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    opacity: 100%;
    z-index: 20;
}

/* 

        FOR THE ARROWS:

*/

.arrow {
    position: absolute;
    font-size: 3rem;
    color: #fff;
    z-index: 25;
    cursor: pointer;
    user-select: none;
}

.rightarrow {
    right: 1vw;
}

.leftarrow {
    left: 1vw;
}

.rightarrow:hover {
    transform: scale(1.1);
}

.leftarrow:hover {
    transform: scale(1.1);
}

/* 

        FOR THE CARDS:

*/

.card {
    position: absolute;
    /* Make the card images card shaped */
    --width: 17em;
    --height: calc(var(--width) * 1.4);
    width: var(--width);
    height: var(--height);
    border: 10px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    border-radius: 15px;
    transform-origin: 50% 200%;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cardFront,
.cardBack {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}

.cardFront {
    transform: rotateY(180deg);
}

.card0 {
    transform: rotate(-25deg);
}

.card1 {
    transform: rotate(-15deg);
}

.flipCard {
    /* FOR THE FLIP ANIMATION */
    transform: rotateY(var(--flipDirection));
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.card2 {
    --width: 22em;
    z-index: 4;
}

.card3 {
    transform: rotate(15deg);
    z-index: 2;
}

.card4 {
    transform: rotate(25deg);
}

/* 

        FOR THE TEXT:

*/

.text {
    position: relative;
    top: 350px;
    text-align: center;
    color: black;
    z-index: 10;
}

/* 

        PHONES:

*/

// Vertical
@media only screen and (max-width: 630px){
    .container {
        background-color: black;
        height: 100%;
        width: 100%;
        position:fixed;
    }
    .text {
        color: white;
        top: 200px;
    }
    .card {
        --width: 15em;
    }
   .card0 {
        opacity: 0;
    }
    .card1 {
        opacity: 0;
    }
    .card3 {
        opacity: 0;
    }
    .card4 {
        opacity: 0;
    }
    .arrow {
        display: none;
    }
}

// Horzonital
@media only screen and (max-height: 630px){
    .container {
        background-color: black;
        scale: 65%;
    }
    .text {
        color: white;
        top: 200px;
    }
    .card {
        --width: 10em;
    }
   .card0 {
        opacity: 0;
    }
    .card1 {
        opacity: 0;
    }
    .card3 {
        opacity: 0;
    }
    .card4 {
        opacity: 0;
    }
    .arrow {
        opacity: 0.2;
    }
}

/* 

        TABLETS:

*/

@media only screen and (max-width: 1280px){
    .container {
        background-color: black;
        height: 100%;
        width: 100%;
    }
    .text {
        color: white;
        top: 200px;
    }
    .card {
        --width: 15em;
    }
   .card0 {
        opacity: 0;
    }
    .card4 {
        opacity: 0;
    }
    .arrow {
        margin: 20px;
        opacity: 0.2;
    }
}
